.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
}

.header-logo {
  width: 250px;
  height: 120px;
  margin-left: 122px;
}

.header-links {
  color: #ffffff;
  display: flex;
  font-size: 25px;
  line-height: 29px;
  flex-direction: row;
  justify-content: space-between;
  gap: 120px;
  list-style-type: none;
}

.header-buttons {
  display: flex;
  gap: 40px;
  margin-right: 122px;
}

.header-search-button,
.header-profile-button {
  background-color: transparent;
  border: none;
}

.header-search-icon,
.header-profile-icon {
  width: 32px;
  height: 32px;
}
