.hero {
  display: block;
  padding: 0 90px;
}

.hero-heading {
  margin-top: 60px;
  margin-bottom: 0;
  color: #ffffff;
  font-size: 80px;
  line-height: 94px;
}
.hero-heading2 {
  margin-top: 0;
  margin-bottom: 51px;
  color: #ffffff;
  font-size: 80px;
  line-height: 94px;
}
.hero-title {
  color: #ffffff;
  font-size: 25px;
  line-height: 32px;
  width: 658px;
  height: 160px;
  margin-bottom: 46px;
}

.hero-catalog {
  border-radius: 5px;
  border: 0;
  background-color: #686de0;
  width: 529px;
  height: 80px;
  font-weight: 700;
  font-size: 25px;
  line-height: 35px;
  color: #2c2c54;
  padding-top: 22px;
  padding: 22px 56px;
}
