@font-face {
  src: url(./components/fonts/Gilroy-Bold.ttf);
  font-family: "Gilroy";
  font-weight: 700;
}
@font-face {
  src: url(./components/fonts/Gilroy-Medium.ttf);
  font-family: "Gilroy";
  font-weight: 500;
}

body {
  margin: 0;
  font-family: "Gilroy";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #2c2c54;
  margin-right: 122px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
